<!DOCTYPE html>
<html>
    <head>
        <title> Information Security </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <ul>
        <li><a href="#"> Power </a></li>
        <form action="/eeuclid" method="POST">
            <input type="text" name="a"> a<br>
            <input type="text" name="b"> b<br>
            <input type="text" name="m"> m<br> 
            <input type="submit" value="Submit">
        </form>
        <li><a href="#"> RSA </a></li>
        <form action="/rsa" method="POST">
            <input type="text" name="p"> p<br>
            <input type="text" name="q"> q<br>
            <input type="text" name="e"> e<br> 
            <input type="text" name="x"> x<br>
            <input type="submit" value="Submit">
        </form>
        <li><a href="#"> Elgamal </a></li>
        <form action="#">
            <input type="text" name="p"> p <br>
            <input type="text" name="alpha"> alpha <br> 
            <input type="text" name="a"> a <br>
            <input type="text" name="k"> k <br>
            <input type="text" name="x"> x <br>
            <input type="submit" value="Submit">
        </form>
        <li><a href="#"> RSA Singature </a></li>
        <form>
            <input type="text" name="pa"> pa <br> 
            <input type="text" name="qa"> qa <br>
            <input type="text" name="ea"> ea <br>
            <input type="text" name="pb"> pb <br> 
            <input type="text" name="qb"> qb <br>
            <input type="text" name="eb"> eb <br>
            <input type="text" name="x"> x <br>
            <input type="submit" value="Submit">
        </form>
        <li><a href="#"> Elgamal Signature </a></li>
        <form>

        </form>
        <li><a href="#"> DSS </a></li>
        <form>

        </form>
        </ul>
    </body>
</html>